/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

div.hero {
  position: relative;
  min-height: 100vh;
}

div.hero div.bigboy,
div.hero div.littleboy {
  position: absolute;
  font-size: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 900;
  font-size: 20rem;
}

div.hero div.bigboy {
  /* transform: translate(-90%, -50%); */
  --height: 37vw;
  top: calc(50vh - var(--height)/2);
  left: calc(50vw - var(--height)*9/10);
  height: var(--height);
  color: var(--color-white-shade1);
  backdrop-filter: blur(20px);
  border: 1px solid var(--color-white-shade2);
  background: radial-gradient(circle, var(--color-white-shade1a) 0%, var(--color-gray-shade2a) 82%);
}

div.hero div.littleboy {
  /* transform: translate(-10%, -50%); */
  --height: 30vw;
  top: calc(50vh - var(--height)/2);
  left: calc(50vw - var(--height)*1/10);
  height: var(--height);
  color: var(--color-blue-shade1);
  backdrop-filter: blur(20px);
  background: radial-gradient(circle, var(--color-white-shade3a) 0%, var(--color-blue-shade1a) 82%);
}


div.hero div#uselessShinyBall {
  position: absolute;
  bottom: 0;
  width: 10vh;
  aspect-ratio: 1;
  background: radial-gradient(circle, var(--color-white-shade3a) 0%, var(--color-blue-shade1a) 92%);
  border-radius: 50%;
  box-shadow: 0 0 20px var(--color-gray-shade1);
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  transform: translate(-50%, 0%);
}

div.hero div#uselessShinyBall div#ball {
  width: 30%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: transparent;
  border: 5px solid white;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8), inset 0 0 10px rgba(255, 255, 255, 0.5);
  transition: width 0.1s;
}

div.hero div#uselessShinyBall:hover div#ball {
  width: 40%;
}

div.bubbles {
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 12;
}

div.bubbles img:first-child {
  position: absolute;
  top: 30vh;
  left: 5vw;
}

div.bubbles img:last-child {
  position: absolute;
  top: 10vh;
  right: 10vw;
}
