@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
*{
    margin: 0;
    padding: 0;
}
.navBar{
    width: 100vw;
    height: 7vh;
    position: fixed;
    z-index: 10;
}
#navLeftSide{
    height: 7vh;
    width: 50%;
    float: left;
    display: flex;
    justify-content: left;
    padding-left: 1vw;
    align-items: center;
}
#navRightSide{
    height: 7vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    float: right;
}
.navContent{
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: var(--color-white-shade1);
    border-radius: 1vh;
}
.navContent:hover{
    background-color: var(--color-black-shade1a);
}
#logoimg{
    fill: black;
}